<!-- countdown.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countdown</title>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/base.css">
    <!-- {% block head %}{% endblock head %} -->
</head>

<meta name="viewport" content="width=device-width, initial-scale=0.75">
<!-- {% block body %} -->
<body>
    <header>
        <!-- Fixed navbar -->
        <nav id="nav-top" class="navbar navbar-expand-lg p-4 mb-5">
            <div class="container">
                <a id="nav-left" class="navbar-brand" href="../index.html">SAKE<br>OF<br>MAKING</a>

                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="nav-right" class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="../index.html">HOME</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    CATEGORIES
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Placeholder</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../about.html">ABOUT</a></li>
                    </ul>
                    <nav id="icon-links" class="mr-3 mt-3 mb-3">
                        <a class="p-2" href="https://github.com/sakeofmaking"><img src="../images/github-white.png" width="32" height="32" alt="GitHub" /></a>
                    </nav>
                    <span class="form-inline">
                        <form id="searchbar-form" action="{% url 'search_results' %}" method="get">
                            <input class="search-input pl-3" name="q" type="text" placeholder="SEARCH">
                        </form>
                    </span>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Countdown</h1>
        <small style="white-space: pre;">Apr 12, 2021 |  Author: Nic La |  Tags:  project   code  </small>
        <p></p>

        <p><img class="icon-img img-fluid" src="https://lh3.googleusercontent.com/pw/ACtC-3cyTz8oH-9_t4TOlaGPnV9TTGspmhtrVbIe74jqcbnxWmJOePEDY1Q2wK4fF87R2J1_H1XW7tTHNwn4o7havH_xYFa4kbe2Y1v1GPpSgH8YnsOBEcdj74OXpNTxrVbggCrhldz2blSYywnQYP5tS1CB4A=w1722-h1292-no?authuser=0"></p>

        <p>Countdown is a simple web-based countdown timer. Date to countdown to is entered in the Django admin portal using format YYYY-MM-DD hh:mm:ss. Two messages are available: start message and end message. Start message displays during countdown. End message displays after countdown is finished.</p>

        <p>I know someone retiring soon and I wanted to make them a website that counts down to their retirement. At first, I thought I could do this entirely in Python and Django. Problem is, anything animated on a webpage is going to be made using JavaScript. It just doesn't exist elsewhere. Step 1, learn JavaScript.</p>

        <p>I've zero experience with JavaScript but Django makes it easy to incorporate. JavaScript is treated like any other static file. Just be sure to update the header of your base.html with the call to your static file.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/ACtC-3cfmze7eQU3qRo62Fk8Rh5LNoipQ3n4033Ca0AlEOwaDUE5NHFjsuXW1K_agGOCRqeXjPjH6QsYciwTdLoZDV3lQl9-jcxK45faUtSyqX_IU6owdjvk0VQr3fPj_CzpCiFe0fVynsWsRsxwnkBC00P7rw=w447-h274-no?authuser=0" class="img-fluid" alt="static folder" /></p>

        <p>The magic that brings the countdown to life is JavaScript, CSS, and HTML all working together. This <a href="https://stackoverflow.com/questions/41145086/js-countdown-timer-to-a-specific-date">stackoverflow post</a> has all three! The variable deadline is assigned the difference between now and the milliseconds to the countdown date.</p>

        <pre class="code-block">var deadline = new Date(new Date().getTime() + 33 * 24 * 60 * 60 * 1000);</pre>

        <p>How do we seed the deadline variable with the milliseconds to the countdown date? Python of course! The below function takes the date in format YYYY-MM-DD hh:mm:ss and returns the total number of seconds until that date. Calling this in your view.py will ensure an up-to-date deadline each time the webpage is loaded.</p>

        <pre class="code-block">
def date_to_sec(date_str):
    """Takes input date and returns number of seconds until date"""
    format_str = "%Y-%m-%d %H:%M:%S"
    try:
        duedate = datetime.strptime(date_str, format_str)
    except ValueError:
        duedate = datetime.strptime("2021-04-30 17:00:00", format_str)

    # Create aware datetime instance to account for time zone and daylight saving time
    duedate = duedate.replace(tzinfo=tz.gettz("America/Los_Angeles"))
    countdown = duedate - datetime.now(tz=tz.tzlocal())

    # Don't return negative
    if int(countdown.total_seconds()) > 0:
        return int(countdown.total_seconds())
    return 0</pre>

        <p>Season with CSS according to taste. I was inspired by the <a href="https://github.com/soffes/Countdown">Mac Countdown Screensaver</a>.</p>

        <p>The complete code for this project can be found on <a href="https://github.com/sakeofmaking/countdown">GitHub</a>. Project in action can be found on <a href="https://countdown-dhms.herokuapp.com/">Heroku</a>.</p>

        <hr>
    </div>
    <br /><br /><br /><br />

    <footer>
        <!-- Fixed footer -->
        <div class="footer fixed-bottom">
            <div class="container">
                <div class="row">
                    <div id="footer-left" class="col p-2 pl-3">
                        ©  SAKE OF MAKING <span id="year"></span>
                    </div>
                    <div id="footer-right" class="col-auto p-2 pr-3">
                        WEBSITE DESIGN BY NIC LA
                        <img src="../images/ducky.png" width="15" height="15">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="../js/base.js"></script>
    <!-- JS, Popper.js, and jQuery -->
    <!-- {% block java %}{% endblock java %} -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
</body>
<!-- {% endblock body %} -->
</html>
