<!-- cubical-bike-mount.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cubical Bike Mount</title>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/base.css">
    <!-- {% block head %}{% endblock head %} -->
</head>

<meta name="viewport" content="width=device-width, initial-scale=0.75">
<!-- {% block body %} -->
<body>
    <header>
        <!-- Fixed navbar -->
        <nav id="nav-top" class="navbar navbar-expand-lg p-4 mb-5">
            <div class="container">
                <a id="nav-left" class="navbar-brand" href="../index.html">SAKE<br>OF<br>MAKING</a>

                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="nav-right" class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="../index.html">HOME</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    CATEGORIES
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Placeholder</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../about.html">ABOUT</a></li>
                    </ul>
                    <nav id="icon-links" class="mr-3 mt-3 mb-3">
                        <a class="p-2" href="https://github.com/sakeofmaking"><img src="../images/github-white.png" width="32" height="32" alt="GitHub" /></a>
                    </nav>
                    <span class="form-inline">
                        <form id="searchbar-form" action="{% url 'search_results' %}" method="get">
                            <input class="search-input pl-3" name="q" type="text" placeholder="SEARCH">
                        </form>
                    </span>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Cubical Bike Mount</h1>
        <small style="white-space: pre;">Jun 14, 2021 |  Author: Nic La |  Tags:  blog   bike   3D print  </small>
        <p></p>

        <p><img class="icon-img img-fluid" src="https://lh3.googleusercontent.com/pw/ACtC-3fKyGPIlmWGtZk2f-j5qx7KmdQMpPXuz5fDux3GN2WmJBwh0v-n1n35V2L0eisKkpYI4q1V0onJBP9-QZKe1pk4cStnfwkWdk34JGKKIE3X1WANsUVyaVRFDhQ5bN-lTTJ22Ho9fyxqGkssfsjO2l2tRw=w1721-h1292-no?authuser=0"></p>

        <p>I give you the Cubical Bike Mount. Cubicals don't have a lot of real estate. Mine not being the exception, I had zero floor space available. The Cubical Bike Mount takes the bike off the ground and raises it high enough out of the way; you can get some work done.</p>

        <p>The secret is a t-handle allen wrench through the bike pedal resting on top of the wall. This fixes the bike to the wall, requiring very little strength to maintain. The bulk of the weight is distributed between the bike pedal and tires.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/ACtC-3dIBx00PXKP_IPFD0RWTp0Es2IFt_glgAWtKzK9mwu8kUtms6gp2xkGhzdA6cywCfw0msATL6E0ifWp2t5ezmTXeeZ0XnQmtYJe7V81-V7RGAVAxeOlYtJFStpSKsIa9q2h8_jI8Grm8xVQoRJ5YqyMaA=w1721-h1292-no?authuser=0" class="img-fluid" alt="T-Handle Allen Wrench" /></p>

        <p>This solution was not without its challenges. I had two failed attempts. First attempt reduced the bike footprint <a href="https://www.thingiverse.com/thing:2774403">mounting the bike vertically</a>. This did not reduced it enough. Second attempt was similar to the finial design but used a <a href="https://www.thingiverse.com/thing:2161841">tire mount with a single bolt</a>. This was problematic as cubical walls are flimsy particle board covered in cloth. The tire mounts flexed under the weight of the bike. <a href="https://www.thingiverse.com/thing:3072975">Two bolts</a> was the answer.</p>

        <hr>
    </div>
    <br /><br /><br /><br />

    <footer>
        <!-- Fixed footer -->
        <div class="footer fixed-bottom">
            <div class="container">
                <div class="row">
                    <div id="footer-left" class="col p-2 pl-3">
                        ©  SAKE OF MAKING <span id="year"></span>
                    </div>
                    <div id="footer-right" class="col-auto p-2 pr-3">
                        WEBSITE DESIGN BY NIC LA
                        <img src="../images/ducky.png" width="15" height="15">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="../js/base.js"></script>
    <!-- JS, Popper.js, and jQuery -->
    <!-- {% block java %}{% endblock java %} -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
</body>
<!-- {% endblock body %} -->
</html>
