<!-- functional-art.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Functional Art</title>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/base.css">
    <!-- {% block head %}{% endblock head %} -->
</head>

<meta name="viewport" content="width=device-width, initial-scale=0.75">
<!-- {% block body %} -->
<body>
    <header>
        <!-- Fixed navbar -->
        <nav id="nav-top" class="navbar navbar-expand-lg p-4 mb-5">
            <div class="container">
                <a id="nav-left" class="navbar-brand" href="../index.html">SAKE<br>OF<br>MAKING</a>

                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="nav-right" class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="../index.html">HOME</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    CATEGORIES
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Placeholder</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../about.html">ABOUT</a></li>
                    </ul>
                    <nav id="icon-links" class="mr-3 mt-3 mb-3">
                        <a class="p-2" href="https://github.com/sakeofmaking"><img src="../images/github-white.png" width="32" height="32" alt="GitHub" /></a>
                    </nav>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Functional Art</h1>
        <small style="white-space: pre;">Mar 13, 2021 |  Author: Nic La |  Tags:  blog   rock climbing   bike   wood   3D print  </small>
        <p></p>

        <p><img class="icon-img img-fluid" src="https://lh3.googleusercontent.com/pw/ACtC-3fC0XFmilXyEmXLXmUZDCWD2Qt3CShFZVBfTF7p668U5i5f_yYMOK_OCwdbBv0DUXE9qTU7bFYD4PVaWa1AEEmqC_4tQtfRC6eiXHaAbInG7RG37afGVF_WfOe6HUOfDb-tlG030sPhAsQC5y39XKoZzA=w1721-h1292-no?authuser=0"></p>

        <p>Functional Art is something you hang on your wall that has more than visual appeal; it has function. What has more function than tools of the trade? Whether you're a musician, athlete, maker, artist, etc., tools of your trade will look great on the wall. Plus, mounting tools on your wall will let others know how awesome you are at rock climbing. Below are some of my favorite tools to hang on the wall with some references to help get you started.</p>

        <h4>The Musician</h4>
        <p>I dabbled in the bass. Who didn't? A floor stand takes up too much real estate, but the wall is vast. <a href="https://www.amazon.com/gp/product/B0009K9MUA/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">Hercules Grips</a> provide a little more security than your typical wall hook. An even more underutilized space than a wall is the side of a bookcase. I give you the Hercules Grip Bookend.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/AM-JKLWvk5G_lT45qzFP_Jd_-7wm1IdMJ88UeFBlKnuS2f_R_RlDYlu4gGdOlptwdJX_BWzDeMBzvui3QhNg3uli2vvOMBTKf8Br-51V1NErWOVAzz-IMwLiUk2RGxFuEHHUxv9oXDEAMQamj6vNcLX761gqwQ=w1716-h1287-no?authuser=0" class="img-fluid" alt="Bass Guitar Book End" /></p>

        <h4>The Athlete</h4>
        <p>Hercules Grips are great for more than just musical instruments.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/ACtC-3c8PloIlfCjnv2-tLgNxVTsz0VNON8Edv0cnq6VDPEca0Mg3M_dAl2x4Ww14PpmnHb0aMcfKyv0hOa8W3nrCGdr997wUFOAy7I-KdKRPrlZPkkdTcHpJVF36ByxXaR2gi2rnyQGdaoTEfPB-ShIQ1R2iA=w1721-h1292-no?authuser=0" class="img-fluid" alt="Ice Axe" /></p>
        <p><img src="https://lh3.googleusercontent.com/pw/ACtC-3c7A4tjFZUJ4yeUrxX470UCuFKbOgFnsyYUlFR1d8zW19AxiyA0uFrsunjXx7ivDr4yaJpqBfeCRPzshLH3aZBTTYzuIYDlfRPUXUD13TvyVBjW6D8JVLgSmhZ7ENe5lCu5teP4NOtxOW-LIH8HcEg5pA=w1721-h1292-no?authuser=0" class="img-fluid" alt="Kayak Paddle" /></p>

        <p>A painting takes a nail but a bike requires a little more effort. I found two 3D printed mounts that best suited my bike: <a href="https://www.thingiverse.com/thing:2774403">one for the handlebar</a> and <a href="https://www.thingiverse.com/thing:2161841">one for the tires</a>.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/ACtC-3fPfuLmAVie1hu8xb4P_r5iCKTf1dDQwdPb24-DlkXGnnkysEAw4Td2Cw7uZ5EvLi-ewph_K4fo3o8J_UN_j-pOYWfgDm5ZBTx9Hy7PcCB5CbP2Yfxg5CUVkEXsW3rSPm8YjPg9CEEciW018mHnBPBNoA=w1721-h1292-no?authuser=0" class="img-fluid" alt="Bike" /></p>

        <p>Rock climbing is my thing. To make this obvious, I mounted a hangboard above my bedroom door. Here's a recent <a href="hangboard.html">blog post</a> describing how.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/ACtC-3fH_drrRS6zW81rKgnJXAaEG6cDH4cwBK4dKq8uuqLaT3dozLEkJmIpHZIwv0E7HRWPuKINQg9geqUldoHiMtQuvsrjZgn1RCP_dpsGOwoMkKMG8BycOvITtbTttfgqokf4QB6yh_1YrcJq8IWW1bpWUA=w1721-h1292-no?authuser=0" class="img-fluid" alt="Hangboard" /></p>

        <h4>The Maker</h4>
        <p>One day my tools will reside a peg board for all to see. For now, I'm making use of these quick access Fastenal cubbies.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/ACtC-3dcvGCdV4FZ4VRxKaObKkNqYeJjFpe86sqnF5OS7zMrVf2TMShfcbocvD4KrZEBj5aUJfHbbkKC0GWTgYNt8MNjRMgsz2LFbD_kOUV8XGsGdw9RYjI8oFDBD5l2zlZf-QMQHpFaU5fwKX-F7Lc5PG9R5Q=w1721-h1292-no?authuser=0" class="img-fluid" alt="Fastenal Cubbies" /></p>

        <p>Hanging your creations doesn't hurt.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/ACtC-3dTWBcz4bm_AEx1XwjjBNR0dSVa_g1vBIxYLw5V95Jms4lRxQjLO1gINWutO8-pZwWjMXSh32yVJ7tTOdCLxX0kw4Av3SR3fcZFRljh-y_oq9ftCZ2PxYeKeRMn9-4QmeJPQoJMG4o3ixWrzAjvSVtMuQ=w597-h596-no?authuser=0" class="img-fluid" alt="IN CASE OF BANKRUPTCY BREAK GLASS" /></p>

        <h4>The Artist</h4>
        <p>Don't get me wrong, I hang paintings on my wall too. Artwork by Josh LaJeunesse</p>

        <p><img src="https://lh3.googleusercontent.com/pw/ACtC-3e9Kq2Mz6yCMlK4UGGzSK6vlA2kVTiS10OPRUFp0lCgSyiQYzOKAlk-aPCPPbOTKkXx9EPj3y7zRCXPUS5CZNLCkFHOAMVuPMxdMVrstMStow3PPRhRp-qOMgZkgEHvKBmUHn4x9AzZ2ZWOIvSguXyt8w=w968-h1290-no?authuser=0" class="img-fluid" alt="Elephant" /></p>

        <hr>
    </div>
    <br /><br /><br /><br />

    <footer>
        <!-- Fixed footer -->
        <div class="footer fixed-bottom">
            <div class="container">
                <div class="row">
                    <div id="footer-left" class="col p-2 pl-3">
                        ©  SAKE OF MAKING <span id="year"></span>
                    </div>
                    <div id="footer-right" class="col-auto p-2 pr-3">
                        WEBSITE DESIGN BY NIC LA
                        <img src="../images/ducky.png" width="15" height="15">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="../js/base.js"></script>
    <!-- JS, Popper.js, and jQuery -->
    <!-- {% block java %}{% endblock java %} -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
</body>
<!-- {% endblock body %} -->
</html>
