<!-- the-desk-build.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Desk Build</title>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/base.css">
    <!-- {% block head %}{% endblock head %} -->
</head>

<meta name="viewport" content="width=device-width, initial-scale=0.75">
<!-- {% block body %} -->
<body>
    <header>
        <!-- Fixed navbar -->
        <nav id="nav-top" class="navbar navbar-expand-lg p-4 mb-5">
            <div class="container">
                <a id="nav-left" class="navbar-brand" href="../index.html">SAKE<br>OF<br>MAKING</a>

                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="nav-right" class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="../index.html">HOME</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    CATEGORIES
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Placeholder</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../about.html">ABOUT</a></li>
                    </ul>
                    <nav id="icon-links" class="mr-3 mt-3 mb-3">
                        <a class="p-2" href="https://github.com/sakeofmaking"><img src="../images/github-white.png" width="32" height="32" alt="GitHub" /></a>
                    </nav>
                    <span class="form-inline">
                        <form id="searchbar-form" action="{% url 'search_results' %}" method="get">
                            <input class="search-input pl-3" name="q" type="text" placeholder="SEARCH">
                        </form>
                    </span>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>The Desk Build</h1>
        <small style="white-space: pre;">Feb 12, 2022 |  Author: Nic La |  Tags:  project   computer  </small>
        <p></p>

        <p><img class="icon-img img-fluid" src="https://lh3.googleusercontent.com/pw/AM-JKLVxS33vW6P5nigtFuOjXzkFPIgQbPoBTAQebpuxLm7CMZb3cgIFSD1hLzxGYUouf4txTIbFicPQ5oS8_k5Qbi7d2sEm6YNVwRvuq4kysKDvslAQkLfo5GEYiGoU7sAsb2K7cgB1-EY9mt1gldKU3xi7gw=w1721-h1292-no?authuser=0"></p>

        <p>Behind every great PC is a great desk. Standing desks are all the rage today. Apparently sitting too much is bad for you and standing too much is bad for you. Maybe desks are just bad for you. Nah, you just need a desk as versatile as you. Introducing <a href="https://www.upliftdesk.com/">Uplift Desk</a>. They are the industry leader in sit-stand technology and build a solid desk. Given an earth quake you want to hide under one of these. Uplift Desk provides a desk configurator. I recommend starting with their <a href="https://www.upliftdesk.com/uplift-v2-standing-desk-v2-or-v2-commercial/">V2 & V2-Commercial</a>.</p>

        <h4>Desktop Style</h4>
        <p>I hate fake, things that pass themselves off as one thing but are in fact another. Even if their properties are superior to the real thing, don't lie. Just be yourself. The thought of a laminate desk makes me cringe. Real wood is the only answer. Real wood desktops, the price quickly climbs. I have this motto "it's not about the price" and while still true, price does play a factor. A desk is a tool and like any tool it's meant to be used. If you sank so much money into your desk, you're afraid to use it, you didn't buy a desk. I'd like one day to build my own desktop from wooden boards. This is further incentive for me to not invest a lot in a pricey real wood desktop.</p>

        <h4>Desktop Size</h4>
        <p>One would think the bigger the better, but wasted space is unwanted space. I've had an 80" desk with a region that just collects dust. This is due to a person's limited reach. If you have to move your chair and stretch just to reach a corner of your desk, you're not going to use it. The same can be said for phone screens and thumbs these days but maybe I'm just old. 80" makes sense if you plan on sharing your desk with your PC. PCs, even quiet ones, make noise. I'll be putting some distance between me and my PC. 72" is the goldilocks zone. It is long enough to support the ultrawide monitors of today while short enough to reach all your computer peripherals.</p>

        <h4>Frame Color, Type & Style</h4>
        <p>I'm all for stability and the Commercial T-Frame is arguably the most stable option. However, we can have more fun with the Commercial C-Frame. C-Frame crossbar is conveniently positioned at leg level. Add a little support and the crossbar makes for a decent leg rest.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/AM-JKLXo_OdtD7-FKOdoWcW3-oiNrzgrnZQpgb1zYjDMriKulLYW-6OdguMLlmuVKH8w8Wo3MaSl8Rrn7fkEUDhBkw6NmY7GaxggrF-ybcTX6vLJlKznXtVEn_gsXPSaAqOipZoi0VhRdNwZKo2sFvtPk1o3RQ=w1721-h1292-no?authuser=0" class="img-fluid" alt="Mill" /></p>

        <p><img src="https://lh3.googleusercontent.com/pw/AM-JKLXhgvZ1BrBPj5xY9hIG3UVHNkT6mcq8a3DnoT5bff8XJ2J5sgDlSfcXwDx3os7ulXxN_QSdKTkgWYx3jvjMqBoFv-EIZs6Apl5uVCTvyN-go4i60GYhA1jWa4mWeINJCOgQb79P6GBaYxk9arP7i525Ww=w1721-h1292-no?authuser=0" class="img-fluid" alt="Measure" /></p>

        <p><img src="https://lh3.googleusercontent.com/pw/AM-JKLVk4G2eul1zPLYpEkCnCJTnHBUFWBtFEHOfH4yqAF1kRCVOXT_fJay-R-WO2eWXQApNJAprziIfQd0aE8PjUTmRTTymSvzhebDnLOB8mJLyaD7oxTj2gv4KzTDxhOe5Sv5FsdR_nrj2eWD1L96D2KpyJw=w1721-h1292-no?authuser=0" class="img-fluid" alt="Leg Rest" /></p>

        <p><img src="https://lh3.googleusercontent.com/pw/AM-JKLUx5ElVZRIKcVXUN-KSgmGX6SgdJNM8xaktKr9_J0xp38wBPBa7GvukL1fVLXus-dVKYJGWcTwu-ze6NKJHG_ABpz79mq6kAle-0SKkx39btiEuNpbLQZG_v_p_3qx57OpVxqXaXvOhHYnZ5IK8IyzaYw=w1721-h1292-no?authuser=0" class="img-fluid" alt="Legs" /></p>

        <h4>Ergonomics</h4>
        <p>Everything that goes into a desk build should take into consideration ergonomics. If there's a <a href="https://www.upliftdesk.com/what-is-ergonomics/">Law of Ergonomics</a>, a standing desk is Rule 1. Chair is Rule 2. Mouse, Monitor and keyboard is Rule 3. Etc.</p>

        Rule 1:<br>
        <p>Standard height for a desk is 30" but with an adjustable desk, you can optimize the height for your body's needs. Sitting, you want your legs and arms at 90 degrees. Standing, arms at 90 degrees. 30" / 46" is my go to.</p>

        Rule 2:<br>
        <p>Apparently a backless chair is healthier than a backed chair. The temptation to rest your back is too strong. That said, I like to rest my back. If you're going to get something with a back, you need lumbar support. Uplift Desk has a range of <a href="https://www.upliftdesk.com/ergonomic-chairs-and-stools/">ergonomic chairs</a>. While I'm sure they're fine, I'm really just a fan of <a href="https://www.autonomous.ai/office-chairs/ergonomic-chair?option20=53">Autonomous's ErgoChair Pro</a>.</p>

        Rule 3:<br>
        <p>Vertical mice are all the rage today. Them and Standing Desks should get together. A vertical mouse keeps your wrist in neutral, reducing pain from sustained pronation. An ergonomic keyboard is also easy on the wrists, but I've yet to find a quality ergonomic mechanical keyboard. If you're 100% ergonomics, I recommend the <a href="https://www.amazon.com/gp/product/B0089ZYMGQ/ref=ppx_yo_dt_b_asin_title_o06_s00?ie=UTF8&th=1">Kinesis Freestyle2 Ergonomic Keyboard for PC (20" Extended Separation)</a> with <a href="https://www.amazon.com/gp/product/B00455EU7U/ref=ppx_yo_dt_b_asin_title_o06_s00?ie=UTF8&psc=1">Ascent Accessory for Freestyle2 Ergonomic Keyboard</a>. Your level of nerdom will be unmatached! Added benefit of a 90 degree keyboard is the ability to continue doing your job with your arm in a cast. I can personally attest.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/AM-JKLWYPWV5RaXvAe79VirNKQu41yNObB876CgS6_oNfgJqse7jTgc6Zg2vlVWiRoigI1OM4x2L8mpnPhlEoKtUfjXxoOsLSngBmUe8-0GBZRa2HKAyQuTNzQI-UgEaPeFUKXmDkFcDbNUmUNpDft-x-n3bSw=w1721-h1292-no?authuser=0" class="img-fluid" alt="Arm in Cast" /></p>

        Rule 3 Continued:<br>
        <p>Monitor height matters. A quick rule of thumb is to place the top of the monitor at eye level. This way your gaze is at eye level or lower, reducing the need to tilt your neck to view anything on your monitor. Monitor height can be achieved by raising / lowering your desk but this directly conflicts with the "arm at 90 degrees" rule. Thus, you need a monitor arm. Added benefit of a monitor arm is it opens up more desk space. I'm partial to the floating monitor effect created by offsetting your monitor arm.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/AM-JKLW2w22jFLfZGG0EOUjobTciV4CmIzAt5ykU4YjS-krP2vN6GwEZpMssahbmDV6Dutkkj0CD6BN5i6HpKixmrSeN_zZc9VJtZW8b_0yMsbUJK9nQIl2l7TnhZkJhqJjd3ZMUM2L-HyXLv61f5-7nPt22YQ=w1721-h1292-no?authuser=0" class="img-fluid" alt="Monitor Height" /></p>

        Not a Rule:<br>
        <p>Two monitors or one ultrawide monitor? It's not a rule but it should be. Always go with one monitor to rule them all. Bezels are not the future. The fewer bezels you have in your build, the better. I bought a curved 34" ultrawide monitor back when they were first hitting the market. These days, I'm eyeing the curved 49" ultrawide.</p>

        <h4>Parts</h4>
        <p>As of writing this, my build is below.</p>
        <ul>
            <li>Computer: <a href="http://www.sakeofmaking.com/e070a06a-d54e-4673-8079-6be43afa1ed4/">Custom PC Build</a> - $2166</li>
            <li>Desk: <a href="https://www.upliftdesk.com/uplift-v2-standing-desk-v2-or-v2-commercial/">UPLIFT Standing Desk (V2 & V2-Commercial)</a> - $1127</li>
            <ul>
                <li>Dk Rubberwood Solid Wood 1" (+$90)</li>
                <li>72" x 30" (+$250)</li>
                <li>V2-Commercial C-Frame - Black (+$80)</li>
                <li>Two Power Grommets - Black (+$69)</li>
                <li>Advanced Comfort Keypad - Black (+$39)</li>
            </ul>
            <li>Chair: <a href="https://www.autonomous.ai/office-chairs/ergonomic-chair?option20=53">ErgoChair Pro</a> - $549</li>
            <li>Monitor: <a href="https://www.amazon.com/gp/product/B00PXYRMPE/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">Dell UltraSharp U3415W 34-Inch Curved LED-Lit Monitor</a> - $700</li>
            <li>Monitor Arm: <a href="https://www.amazon.com/AmazonBasics-Premium-Single-Monitor-Stand/dp/B00MIBN16O/">AmazonBasics Premium Single Monitor Stand</a> - $115</li>
            <li>Mouse: <a href="https://www.amazon.com/gp/product/B07FNJB8TT/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1">Logitech MX Vertical Wireless Mouse</a> - $95</li>
            <li>Mouse Rest: <a href="https://www.amazon.com/gp/product/B01MS8PIX9/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&th=1">Kensington ErgoSoft Wrist Rest for Standard Mouse, Black (K52802WW)</a> - $10</li>
            <li>Keyboard: <a href="https://www.amazon.com/gp/product/B07WVC9KSG/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&th=1">Keychron K4 Wireless Mechanical Gaming Keyboard</a> - $80</li>
            <li>Game Controller: <a href="https://www.amazon.com/gp/product/B01LPZM7VI/ref=ppx_yo_dt_b_asin_title_o03_s00?ie=UTF8&psc=1">Xbox Wireless Controller - Black</a> - $60</li>
            <li>Speaker: Sony SS-B1000</li>
            <li>Speaker Amp: Lepai Tripath TA2020 Class-T Hi-Fi Audio Amplifier - $28</li>
            <li>Headphones: <a href="https://www.amazon.com/gp/product/B01E3SNO1G/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">Bose QuietComfort 35 Wireless Headphones, Noise Cancelling - Black</a> - $170</li>
            <li>Hedphone Stand: <a href="https://www.amazon.com/gp/product/B00C99MTEU/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">Just Mobile HS-100BK HeadStand Aluminum Desktop Stand for Headphones - Black</a> - $46</li>
            <li>Leg Rest: TRX Training High Density EPP Foam Roller, Lightweight & Portable, 36in - $25</li>
        </ul>

        <h4>Optimize</h4>
        <p>A great PC deserves a pedestal.</p>

        <p><img src="https://lh3.googleusercontent.com/pw/AM-JKLVV7VPlZvYi-NY3DI3BxMr3sgPYj8EJYrCiOF06Ur77fEI-_2G14ybfOp0HdoO7jimFPxv-kJ4CTdaTAXFco_34vENLz3AWfob47AGjXZ1VFY2HO6P_m-BOcWO8C0UA6Phz0Ll-sm-Zfv5j5xmbT94dxQ=w1721-h1292-no?authuser=0" class="img-fluid" alt="Pedestal" /></p>

        <hr>
    </div>
    <br /><br /><br /><br />

    <footer>
        <!-- Fixed footer -->
        <div class="footer fixed-bottom">
            <div class="container">
                <div class="row">
                    <div id="footer-left" class="col p-2 pl-3">
                        ©  SAKE OF MAKING <span id="year"></span>
                    </div>
                    <div id="footer-right" class="col-auto p-2 pr-3">
                        WEBSITE DESIGN BY NIC LA
                        <img src="../images/ducky.png" width="15" height="15">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="../js/base.js"></script>
    <!-- JS, Popper.js, and jQuery -->
    <!-- {% block java %}{% endblock java %} -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
</body>
<!-- {% endblock body %} -->
</html>
